/* 폼 컨테이너 스타일 */
.form-container{
   min-height: calc(100vh - 20rem);
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   background-color: var(--white);
   border-radius: .5rem;
   padding: 2rem;
   width: 50rem;
}

.form-container .logo-header {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px; /* 로고와 텍스트 아래 여백 */
}

.form-container .logo-image {
   width: 60px; /* 로고 이미지 너비 조절 */
   height: auto; /* 비율 유지 */
   margin-right: 10px; /* 로고와 텍스트 사이 간격 */
}

.form-container form h3{
   font-size: 2.5rem;
   text-transform: capitalize;
   color: var(--black);
   /* text-align: center; */ /* 부모 요소에서 중앙 정렬을 하므로 필요 없음 */
}

.form-container form p{
   font-size: 1.7rem;
   color: var(--light-color);
   padding-top: 1rem;
}

.form-container form p span{
   color: var(--red);
}

.form-container form .box{
   font-size: 1.8rem;
   color: var(--black);
   border-radius: .5rem;
   padding: 1.4rem;
   background-color: var(--light-bg);
   width: 100%;
   margin: 1rem 0;
} 